
<footer style="background:#0f346c;margin-bottom:0">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  
         <ul style="list-style-type:none;display:inline-block;">
             <li style="padding:13px 2px;">
                 <a class="text-muted"href="/foods">Menu</a>
             </li>
             <li style="padding:13px 2px;">
                 <a class="text-muted"href="/contact">Contact us</a>
             </li>
                <li style="padding:13px 2px;">
                 <a class="text-muted"href="/team">Our team</a>
             </li>
         </ul>
         </div>
         <div class="col-md-6">
         <ul class="float-right"style="list-style-type:none;display:inline-block;">
             <li class="text-muted" style="padding:13px 2px;">
                 <a class="text-muted"href="/team">copyright food express 2020</a>
             </li>
             <li class="text-muted" style="padding:13px 2px;width:160px;">
                 <img  src="https://pluspng.com/img-png/get-it-on-google-play-png-available-on-google-play-513.png"class="img-fluid" alt="Responsive image"> 
             </li>
             <li class="text-muted" style="padding:13px 2px;width:165px">
                 <img  src="https://uploads-ssl.webflow.com/55dcbbb72f6866e27c611a8c/5ba77afac325b67bdd34c9e4_appstore.svg"class="img-fluid" alt="Responsive image"> 
             </li>
         </ul>
          </div>
          </div>
      </div>
    
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
</body>
</html>