<%- include ('./partials/header')%>

<header class="jumbotron" style="background-image:url(https://previews.123rf.com/images/vicushka/vicushka1602/vicushka160200117/52237375-asian-food-background-with-various-of-cooking-ingredients-on-rustic-background-top-view-banner-asian.jpg); background-size:100%;">
      <!--<div class="container">-->
          <h1 class="text-center text-warning">Welcome To Food Express!</h1>
    <p><h4 class="text-center">View Our Top Picked food</h4></p>
      <!--</div>-->
    
</header>
<div class="container">
<div class="row">

<div class="col-md-6">
                  <div class="img-thumbnail">
       <div class="text-center">
         <img src="https://res.cloudinary.com/djweoyvdx/image/upload/v1589747919/IMG_5732_nrn8ey.jpg" class="rounded-circle" alt="Cinque Terre"style="width:200px">
       </div>
       <div class="caption">
         <h2 class="text-center text-info">Mohd.OsamaIqbal</h2>
         <h4 class="text-center text-warning">Co-Founder(CEO)</h4>
         <p class="text-center text-secondary">Email-osamaiqbal786@gmail.com</p>
         <p class="text-center text-secondary">Mobile-8882085557</p>
       </div>
       </div>
   

                </div>
                <div class="col-md-6">
                  <div class="img-thumbnail">
       <div class="text-center">
         <img src="https://res.cloudinary.com/djweoyvdx/image/upload/v1589748041/IMG_6754_pjfjbn.jpg" class="rounded-circle" alt="Cinque Terre"style="width:190px">
       </div>
       <div class="caption">
         <h2 class="text-center text-info">Faizan Ansari</h2>
         <h4 class="text-center text-warning">Co-Founder(COO)</h4>
         <p class="text-center text-secondary">Email-f97aizan@gmail.com</p>
         <p class="text-center text-secondary">Mobile-7800307276</p>
       </div>
       </div>
   

                </div>

</div>
</div>


<%- include ('./partials/footer')%>